<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <div>
        Para regresar a la calculadora, haga Click
        <a href="/"> aquí.</a>
    </div>
    <div>
        <p>Cantidad de monto introducida: MXN {{ comisiones }}</p>
        <p>Resultado del monto después de las comisiones: MXN {{ resul }}</p>
    </div>
</body>
<style>
    html
    {
            background-color: lightgreen;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
            display: flex;
            justify-content: center;
    }
</style>
</html>